* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 18px; }

header div {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  header div img {
    width: 40vw;
    height: 100%; }

@media screen and (max-width: 800px) {
  header div img {
    width: 80vw; } }

/*Variables de colores*/
/*Variables para bordes*/
.navCustom {
  background-color: #5c94a1; }

.presentacion {
  background-image: url("../img/fotoUTN.jpg");
  background-size: cover;
  height: 75%; }
  .presentacion h1 {
    text-align: center; }

.bienvenida {
  background-color: #5c94a1; }

.carouselSection {
  width: 60vw;
  height: 30vh;
  margin: auto; }

.carousel-item img {
  width: 100px;
  height: 100%; }

.carousel-control {
  color: black;
  font-weight: bold;
  text-decoration: none; }
  .carousel-control:hover {
    color: #3b6b78; }
  .carousel-control:focus {
    color: black; }

.footerCustom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #797979; }

.googleLocation {
  height: 300px;
  width: 100%; }

.contactForm-buttonsBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between; }

/*Variables de colores*/
/*Variables para bordes*/
/*Variables de colores*/
/*Variables para bordes*/
/*Mapa para los botones de las redes sociales*/
/*Bucle que da uso al mapa de las redes generando clases para botones*/
.btn-facebook {
  background-color: #4267B2;
  border-color: black; }

.btn-whatsApp {
  background-color: #25d366;
  border-color: black; }

.btn-instagram {
  background-color: #C13584;
  border-color: black; }

.informacionFacultad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center; }
  .informacionFacultad p {
    text-align: center; }

/*Variables de colores*/
/*Variables para bordes*/
.formulario-distincion {
  display: flex;
  justify-content: center; }
  .formulario-distincion form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid 3px;
    background-color: #3b6b78;
    width: 75%; }

.contenedor-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .contenedor-inputs div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }

.contenedor-botones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%; }

@media screen and (max-width: 800px) {
  .formulario-distincion form {
    width: 100%; } }
