/*Variables de colores*/
$colorPrincipal: #5c94a1;
$colorPrincipalOscuro: #3b6b78;
$colorFacebook: #4267B2;
$colorInstagram: #C13584;
$colorWhatsApp: #25d366;

/*Variables para bordes*/
$bordeFormulario: black solid 3px;