<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Empleos UTN</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../stylesheets/new-local-stylesheet.css">
</head>

<body>
<main class="index-grid">

    <!--Encabezado-->
    <header class="header">
        <img class="header__image" src="../img/logoUTN.png">
    </header>

    <!--Barra de navegación-->
    <nav class="nav">
        <ul class="navList">
            <li>
                <a href="../index.html">Inicio</a>
            </li>
            <li>
                <a href="logIn.html">Iniciar Sesión</a>
            </li>
            <li>
                <a href="#footer">Contacto</a>
            </li>
        </ul>
    </nav>

    <!--Sección principal-->
    <section class="section">

        <!-- Formulario para el registro de una cuenta de empresa -->
        <div class="logIn">
            <form class="logInForm">
                <p>Registro de empresa</p><br>
                <p>Información de la empresa</p>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormEnterpriseName">Empresa</label>
                    <input id="enterpriseRegisterFormEnterpriseName" name="enterpriseName" type="text" required
                           placeholder="nombre de fantasía">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormEnterpriseEmail">Email</label>
                    <input id="enterpriseRegisterFormEnterpriseEmail" name="enterpriseEmail" type="email" required
                           placeholder="contacto para estudiantes">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormEnterpriseEmailCheck">Confirmación de email</label>
                    <input id="enterpriseRegisterFormEnterpriseEmailCheck" name="enterpriseEmailCheck" type="email"
                           required
                           placeholder="confirmar el correo">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormEnterprisePhone">Teléfono</label>
                    <input id="enterpriseRegisterFormEnterprisePhone" name="enterprisePhone" type="number" required
                           placeholder="número de teléfono sin el 15">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormEnterpriseCuit">Cuit</label>
                    <input id="enterpriseRegisterFormEnterpriseCuit" name="enterpriseCuit" type="number" required
                           placeholder="número de cuit">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormEnterpriseAddressStreet">Dirección</label>
                    <input id="enterpriseRegisterFormEnterpriseAddressStreet" name="enterpriseAddressStreet" type="text"
                           required
                           placeholder="calle">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormEnterpriseAddressNumber">Dirección</label>
                    <input id="enterpriseRegisterFormEnterpriseAddressNumber" name="enterpriseAddressNumber"
                           type="number"
                           required
                           placeholder="altura">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormEnterprisePassword">Contraseña</label>
                    <input id="enterpriseRegisterFormEnterprisePassword" name="enterprisePassword" type="password"
                           required
                           placeholder="contraseña">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormEnterprisePasswordCheck">Confirmación de contraseña</label>
                    <input id="enterpriseRegisterFormEnterprisePasswordCheck" name="enterprisePasswordCheck"
                           type="password"
                           required
                           placeholder="confirmar la contraseña">
                </div>

                <p>Información de su representante</p>

                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormManagerFirstName">Nombre</label>
                    <input id="enterpriseRegisterFormManagerFirstName" name="managerFirstName" type="text" required
                           placeholder="nombre">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormManagerLastName">Apellido</label>
                    <input id="enterpriseRegisterFormManagerLastName" name="managerLastName" type="text" required
                           placeholder="apellido">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormManagerDni">DNI</label>
                    <input id="enterpriseRegisterFormManagerDni" name="managerDni" type="number" required
                           placeholder="documento nacional de identidad">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormManagerEmail">Email</label>
                    <input id="enterpriseRegisterFormManagerEmail" name="managerEmail" type="email" required
                           placeholder="correo electrónico">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormManagerEmailCheck">Confirmación de email</label>
                    <input id="enterpriseRegisterFormManagerEmailCheck" name="managerEmailCheck" type="email" required
                           placeholder="confirmar el correo">
                </div>
                <div class="logInForm__inputBox">
                    <label for="enterpriseRegisterFormManagerPhone">Teléfono</label>
                    <input id="enterpriseRegisterFormManagerPhone" name="managerPhone" type="number" required
                           placeholder="número de teléfono sin el 15">
                </div>
                <div class="logInForm__buttonsBox">
                    <button>
                        <a href="registrar-cuenta.html">Volver</a>
                    </button>
                    <button type="reset">Limpiar</button>
                    <button type="submit">Siguiente</button>
                </div>
            </form>
        </div>

        <!--empresas-->
        <div class="empresas">
            <h2 class="empresas__titulo">Empresas asociadas</h2>
            <div class="contenedorImagenes">
                <div class="empresas__imagen">
                    <p>Accenture</p>
                    <img src="../img/accenture.png">
                </div>
                <div class="empresas__imagen">
                    <p>Globant</p>
                    <img src="../img/globant.png">
                </div>
                <div class="empresas__imagen">
                    <p>Avalith</p>
                    <img src="../img/avalith.png">
                </div>
            </div>
        </div>

    </section>

    <!--footer-->
    <footer id="footer" class="footer">

        <!-- Formulario de contacto -->
        <div class="formContainer">
            <p class="formTitle">Información de contacto</p>
            <form class="contactForm">
                <div class="contactForm__inputBox">
                    <label for="contactFormFirstName">Nombre</label>
                    <input id="contactFormFirstName" name="firstName" type="text" required placeholder="nombre">
                </div>
                <div class="contactForm__inputBox">
                    <label for="contactFormLastName">Apellido</label>
                    <input id="contactFormLastName" name="lastName" type="text" required placeholder="apellido">
                </div>
                <div class="contactForm__inputBox">
                    <label for="contactFormPhone">Teléfono</label>
                    <input id="contactFormPhone" name="phone" type="number" required placeholder="su número sin el 15">
                </div>
                <div class="contactForm__inputBox">
                    <label for="contactFormEmail">Email</label>
                    <input id="contactFormEmail" name="email" type="email" required placeholder="correo electrónico">
                </div>
                <div class="contactForm__inputBox">
                    <label for="contactFormMassage">Mensaje</label>
                    <textarea class="messageInput" rows="5" cols="60" id="contactFormMassage" name="massage" type=""
                              placeholder="deje su mensaje aquí"></textarea>
                </div>
                <div class="contactForm__buttonsBox">
                    <button type="reset">Limpiar</button>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>

        <!-- Google maps -->
        <div class="locationContainer">
            <iframe class="googleLocation"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3141.916793665604!2d-57.54487658467455!3d-38.04902507971045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dde623dd7a1f%3A0x7b8d37b35da66cdc!2sAv.%20Dorrego%20281%2C%20B7600%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1646176380303!5m2!1ses!2sar"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <!-- Información de la facultad -->
        <div class="informacionInstitucional">
            <p class="informacionInstitucional__texto">
                Teléfonos<br>
                0223 480-5049 / 3479 / 1220<br>
                Correo electrónico<br>
                informes@mdp.utn.edu.ar<br>
                Dirección<br>
                Buque Pesquero Dorrego N° 281<br>
            </p>
            <div class="informacionInstitucional__buttonsBox">
                <button>
                    <a href="https://www.instagram.com/utnmardelplata/?hl=es">Instagram</a>
                </button>
                <button>
                    <a href="https://es-la.facebook.com/utnmardelplata/">Facebook</a>
                </button>
                <button>
                    <a href="https://www.mdp.edu.ar/">Página oficial</a>
                </button>
            </div>
        </div>

    </footer>
</main>
</body>
</html>