* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 18px;
}

/*css específico para pantalla de celulares nuevo*/
.header__image {
    width: 80%;
    height: 100%;
}

.navCustom {
    background-color: #5c94a1;
}

.presentacion {
    background-image: url("../img/fotoUTN.jpg");
    background-size: cover;
}

.bienvenida {
    background-color: #5c94a1;
}

.carouselSection {
    width: 60vw;
    height: 30vh;
    margin: auto;
}

.carousel-item img {
    width: 100px;
    height: 100%;
}

.carousel-control {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.carousel-control:hover{
    color: #3b6b78;
}

.footerCustom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #797979;
}

.googleLocation {
    height: 300px;
    width: 100%;
}

.formCustom {
    border: black solid 3px;
    background-color: #3b6b78;
}

.logInForm__optionsBox {
    display: flex;
    margin: 15px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logInForm__buttonsBox {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logInForm__optionsBox a {
    color: black;
}

.logInForm__optionsBox a:hover {
    color: white;
}
